h1 {
  color:green;
  padding: 70px;
  border: 10px solid #4CAF50;
  text-align: center;
}

h2 {
  color: blue;
  padding-left: 600px;
  font-size: 50px;
}


#locator { position: absolute; visibility: visible; left: 20px; top: 275px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 230px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-top: 25px;
}

li {
  display: block;
  color: #000;
  padding: 25px 10px;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

form {
  padding-bottom: 20px;
}
