{% extends 'base.html' %}

{% block content %}
     &nbsp;&nbsp;
    <h1 style="padding-top: 40px" align="center">Why buy from us ?</h1>
    &nbsp;&nbsp;
    <div class="row" align="middle">

      <div class="col s4">
        <div class="center info">
                <i class="large material-icons">sentiment_very_satisfied</i>
                <p class="about_happy">Fresh food</p>
                <p class="light center">All our food is fresh and delicious. Satisfaction guaranteed!</p>
              </div>
      </div>
      <div class="col s4">
        <div class="center info">
                <i class="large material-icons">computer</i>
                <p class="about_computer">Shop from anywhere</p>
                <p class="light center">You can access to FoodCart from anywhere you want and order your weekly groceries!</p>
              </div>
      </div>
      <div class="col s4">
        <div class="center info">
                <i class="large material-icons">local_shipping</i>
                <p class="about_shipping">Free and Fast Shipping</p>
                <p class="light center">Get your food in 3 business days or you get your money back!</p>
              </div>
      </div>

    </div>
{% endblock %}