{% extends 'base.html' %}

{% block content %}

    <div class="row">
    <H3 align="center">Change your account informations for <a>{{current_user.get_id()}}</a></H3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <form class="col s12", method="POST">
        <div class="input-field col s6">
          <input  value ="{{current_user.firstname}}" id="first_name" name="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input value ="{{current_user.lastname}}" id="last_name" name="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password">Enter a new password</label>
        </div>
        <div class="input-field col s12">
          <input value ="{{current_user.email}}" id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
          <div class="input-field col s12">
          <input value ="{{current_user.address}}" id="address" name="address" type="text" class="validate" required>
          <label for="address">Address</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

          <button class="btn waves-effect blue-grey" type="submit" name="action">Update<i class="material-icons right">send</i>
          </button>
    </form>
    </div>
{% endblock %}