<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
  </head>
  <style>
</style>
  <body class="d-flex flex-column h-100">
<main>
  <div class="container">
    <h1 class="mt-5">Bienvenue sur FoodCart</h1>
    <link rel="stylesheet" type="text/css" href="/static/static.css">
    <div id="locator">
      <h2> Promotion du jour</h2>
    </div>
    <form>
          <input type="text" placeholder="Search..." required>
          <input type="button" value="Recherche">
    </form>
    <ul>
  <li><a href="#fruit">Fruit</a></li>
  <li><a href="#legume">Legume</a></li>
  <li><a href="#viande">Viande</a></li>
  <li><a href="#pain">Pain</a></li>
  <li><a href="#produit">Produit laitier</a></li>
    </ul>
  </div>
</main>
</body>
</html>
