{% extends 'base.html' %}

{% block card %}

{% for legume in data %}
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{legume[4]}}">
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/cart/{{ legume[0] }}>
            <i class="material-icons">add</i>
          </a>
        </div>
        <div class="card-content">
          <p>{{legume[2]}} <b>{{legume[3]}}</b></p>
        </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}
