{% extends 'unauthenticated.html' %}

{% block authentication %}

<div class="row">
    <H1 align="center">Sign up for free!</H1>

    <form class="col s12", method="POST">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="input-field col s6">
          <input id="first_name" name="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>


        <div class="input-field col s12">
          <input name="username" id="username" type="text" class="validate" required>
          <label for="username">Username</label>
        </div>
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
          <div class="input-field col s12">
          <input id="address" name="address" type="text" class="validate" required>
          <label for="address">Address</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

          <button class="btn waves-effect blue-grey" type="submit" name="action">Submit<i class="material-icons right">send</i>
          </button>
    </form>
        <h5 align="center">Already have an account? <a href="login">Login</a> Here!</h5>

  </div>
{% endblock %}