{% extends 'base.html' %}

{% block card %}

{% for viande in data %}
<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{viande[4]}}">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>{{viande[2]}} <b>{{viande[3]}}</b></p>
        </div>
      </div>
    </div>
</div>
{% endfor %}

{% endblock %}
